@media(max-width:1200px) {
    .films_cards {
        grid-template-columns: repeat(2, 255px);
        justify-content: center;
    }


    .title {
        margin: 0 auto;
    }
}

@media(max-width:992px) {
    .nav__menu {
        /* display: inline-block; */
        z-index: 5;
        transition: 0.7s;
        display: flex;
        align-items: center;
    }

    .nav__menu:focus~.nav__list {
        z-index: 4;
        top: -81px;
        left: 0;
        /* z-index: 5; */
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #040D1F;
        transition: 0.7s;
    }

    .nav {
        z-index: 3;
        padding: 15px 0;

    }

    .nav__list {
        position: absolute;
        left: -300%;

    }

    .header {
        height: 640px;
    }


    .header__content {
        align-items: center;
        height: 640px;
    }

    .header__content_text {
        text-align: center;
    }

    .widow_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .widow_inner_text {
        text-align: center;
    }


    .collection_cards {
        grid-template-columns: 350px;
        justify-content: center;
    }

    .series_cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 'thrones thrones'
            'wanda wanda'
            'flash great'
            'gotham witcher';
        grid-auto-rows: 350px;
    }
}

@media(max-width:768px) {


    .header__content_title {
        font-size: 50px;
    }



    .header__content_text {
        margin-top: 0;
        margin-bottom: 25px;
    }
    
    .footer_item{
        flex-direction: column;
        gap: 20px;
    }
}

@media(max-width:576px) {

    .header__content_title {
        font-size: 34px;
    }

    .btn {
        padding: 17px 32px;
    }


    .films_cards {
        grid-template-columns: repeat(1, 255px);
        justify-content: center;
    }

    .widow_inner_text {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .widow_inner img {
        width: 100%;
    }


    .series_cards {
        grid-template-columns: 1fr;
        grid-template-areas: 'thrones '
            'wanda '
            'flash '
            'great '
            'gotham'
            'witcher';
        grid-auto-rows: minmax(183px, max-content);
        justify-content: center;

    }

    .thrones {
        padding: 30px 10px 30px 10px;
    }

    .series_card_title {
        font-size: 20px;
    }

    .series_card_text {
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 14px;
    }
}


@media(max-width:375px) {

    .header__content_title {
        font-size: 31px;
    }


    .widow_inner_text {
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .widow {
        height: 450px;
    }

    .collection_cards {
        grid-template-columns: 1fr;
    }
    
    .footer_text{
        font-size: 15px;
    }
}